.card1{
    width:100%;
    height:48px;
    border:1px solid #c7d2fe;
    color: #585076;
    padding: 0px 35px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 130px;
    margin-bottom: 15px;
    background-color: #585076;
    cursor: pointer;
}

.card1 h1{
    font-size: 5px;
    padding: 10px;
}
